* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.menu-icon {
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

.burger-icon {
    display: block;
}

.close-icon {
    display: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.dropdown ul {
    display: none;
    padding-left: 0px;
    z-index: 1;
    width: auto;
    border: grey solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(136, 139, 139);
    position: absolute;
    top: 20px;
}

.dropdown ul li {
    padding: 5px;
    border: white solid 1px;
    font-weight: 600;
}

.dropdown ul li a {
    display: block;
}

.dropdown ul li:hover {
    background: black;
}

input[type=checkbox]:checked~ul {
    display: inline-block;
}

input:checked+label .close-icon {
    display: block;
}

input:checked+label .burger-icon {
    display: none;
}

.navbar {
    border-bottom: gray solid 2px;
    position: relative;
    height: 26px;
}

.logo {
    position: absolute;
    top: 2px;
    right: 2px;
}

h1,
h2 {
    text-align: center;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*
h1 {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}*/

.dropdown ul {
    animation-duration: 2s;
    animation-name: slide;
}

@keyframes slide {
    from {
        margin-left: -200px;
    }
    to {
        margin-left: 0px;
    }
}

h2,
h1 {
    animation-duration: 3s;
    animation-name: slide2;
}

@keyframes slide2 {
    from {
        color: aliceblue;
    }
    to {
        color: black;
    }
}